*{
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    height: 150px;
    background-color: aqua;
}
main {
    height: 600px;
    background-color: aquamarine;
}
footer {
    height: 100px;
    background-color: antiquewhite;
}
h1{
    background-color: green;
}